#update-post {
    .thumbnail-box {
        width: 100%;
        height: 354px;
        overflow: hidden;
        padding: 1rem;
        margin-bottom: 2rem;

        img {
            width: 100%;
            margin: 0 auto;
            border-radius: 10px;

        }
    }
}