@import "../../../../Assets/Public/assets/css/bootstrap.min.css";
@import "../../../../Assets/Public/assets/css/bootsnav.min.css";
@import "../../../../Assets/Public/assets/css/bootstrap-select.min.css";
@import "../../../../Assets/Public/assets/flag-icons/css/flag-icon.min.css";
@import "../../../../Assets/Public/assets/font-awesome/css/font-awesome.min.css";
@import "../../../../Assets/Public/assets/css/linearicons.min.css";
@import "../../../../Assets/Public/assets/css/animate.min.css";
@import "../../../../Assets/Public/assets/css/magnific-popup.css";
@import "../../../../Assets/Public/assets/css/dataTables.bootstrap.min.css";
@import "../../../../Assets/Public/assets/css/responsive.bootstrap.min.css";
@import "../../../../Assets/Public/assets/amcharts/export.css";
@import "../../../../Assets/Public/assets/css/style.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

#navbar-public {
    .navbar-scroll {
        background-color: #0a0f58;
        transition: background-color 200ms linear;
    }
}
