.css-qfso29-MuiTypography-root-MuiDialogContentText-root {
    font-size: 20px !important;
}


.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    font-size: 23px !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    font-size: 16px !important;
}

.table > thead > tr > th:first-child {
    width: 5% !important;
}

.table > tbody > tr > td:first-child {
    width: 5%;
}