.Thumnail {
    float: right;
    padding-left: 100px;
    padding-right: 40px;
}
.box2 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 400px;
    height: 100px;
   
}
.Topics{
    float: right;
    padding-top: 10px;
    padding-left: 900px;
    padding-right: 50px;
    
}